@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200,300,400;500;600;700&display=swap');
@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons";

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.pi::before {
  backface-visibility: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.4);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.6);
}

@media (prefers-reduced-motion: reduce) {
   .pi-spin {
       -webkit-animation: fa-spin 2s infinite linear !important;
       animation: fa-spin 2s infinite linear !important;
   }
}